@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Animations defined in config */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f9fafb; 
}
::-webkit-scrollbar-thumb {
  background-color: #c4b5fd;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a78bfa;
}

html {
  scroll-behavior: smooth;
}